body{
	/*black family background looks cheesy*/
	background-color:white;
	/* background-image: url('images/small_black_collage.png'); */
	font-family: 'Noto Sans', sans-serif;
	color:black;
}

.row{
	text-align:center;
}



.header-section{
	padding-top:97px;
	margin-bottom:95px;

}

/*box to hold  generated text*/
.generated-text{
	padding-left:5px;
	text-align: center;
}